
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: tomato;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: blue;
}
#div1{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    top: 100px;
}
#div2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative;
    top: 100px;
}