body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: hsla(0, 100%, 50%, 0.5);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgb(255, 0, 0);
}
