
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
  }
  div {
    width: 100px;
    height: 100px;
    font-size: 150px;
    /* background-color: red; */
    /* border-radius: 50%; */
    margin-bottom: 35px;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
  }
  @keyframes bounce {
    to {
      transform: translate(0, -600px);
    }
  }