body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f1f1ee;
    font-family: inherit;
}
body>div{
    margin-top: 70px;
    width: 500px;
    text-align: center;
    font-family: inherit;
}
body>div>div{
    /* border: 2px solid #000; */
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    font-family: inherit;
}
input , button{
    width: 80%;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
}
button{
    /* background-color: #4CAF50; */
    width: 85%;
    height: 45px;
    background-color: blue;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    font-family: inherit;
}
h1{
    font-size: 40px;
    color: rgba(0, 0, 255, 0.77);
    font-family: inherit;
}